# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
attrs
ca-certificates
certifi
coverage
flake8
importlib-metadata
importlib_metadata
iniconfig
libedit
libffi
mccabe
more-itertools
ncurses
openssl
packaging
pip
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
python=3.7
readline
setuptools
six
sqlite
tk
toml
wheel
xz
zipp
zlib
